# Supabase Config
# Você pode usar os nomes VITE_ ou NEXT_PUBLIC_ no painel de Secrets
NEXT_PUBLIC_SUPABASE_URL="https://atpzkxvowyzhofkjszfu.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sua_chave_anon_aqui"

GEMINI_API_KEY="seu_key_gemini"
